<div class="container">
    <div class="row">
        <div class="col-md-12 pt-4 d-flex justify-content-center">
            <mat-chip-list>
                <mat-chip *ngFor="let category of categories" 
                (click)="OnGetCategoryData(category)">{{ category }}</mat-chip>
               </mat-chip-list>
        </div>
    </div>
   <div class="row pt-5">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let article of news.articles">
        <mat-card>
            <img mat-card-image *ngIf="article.urlToImage" [src]="article.urlToImage">
            <img mat-card-image *ngIf="!article.urlToImage" src="../../assets/images/images.png">
            <mat-card-header>
                <mat-card-title class="text-justify"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 18ch;">{{ article.title }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="text-justify">{{ article.content }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Favorite</button>
                <button mat-button>Read More</button>
            </mat-card-actions>
        </mat-card>
    </div>
   </div>
</div>